@model DefaultSection
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">@Model.FirstHeadline</h1>
<p>@Model.Text</p>

<h2 class="display-4">@Model.SecondHeadline</h2>
@Html.Raw(Model.Html)
