@model Translation
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">@Model.SecondSection.First</h1>
        <p>@Model.Default.Text</p>
        <h1 class="display-4">@Model.SecondSection.Second</h1>
    </div>
