@model NStack.SDK.Models.ResourceItem
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">@Model["secondSection"]["first"]</h1>
        <p>@Model["default"]["text"]</p>
        <h1 class="display-4">@Model["secondSection"]["second"]</h1>
        <button></button>
    </div>
