@model DemoNStack.Models.ViewModels.TermsViewModel

<h1>@Model.Headline</h1>

@Html.Raw(Model.Content)

@if (Model.HasApproved)
{
    <p>@Model.HasApprovedString</p>
}
else
{
    <form>
        <button type="submit" class="btn btn-success">@Model.ApproveButton</button>
    </form>
}